a.k-link {
    text-align: center;
}


/*.k-grid-Sửa {
    background-color: #FBFCFF;
    min-width: 0px;
    background-image: url(../img/Vector-change.png);
    background-repeat: no-repeat, repeat;
    border: none;
    text-indent: -9999px;
    color: #ffffff;
}


    .k-grid-Sửa:hover {
        background-color: #FBFCFF;
        background-image: url(../img/Vector-change.png);
        background-repeat: no-repeat, repeat;
        border: none;
        background-color: #ffffff;
        color: #ffffff;
        text-decoration: none;
    }*/

.k-alt {
    background-color: #FBFCFF;
}

.k-state-selected,
.k-state-selected:link,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel>.k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
    background-color: #FAA519;
    color: #ffffff;
}

.k-state-selected td {
    color: #ffffff;
    opacity: 1;
}

.k-grid-header .k-header a {
    opacity: 0.8;
    color: #FAA519;
    text-decoration: none;
    margin-bottom: 0.2vw;
}


/*.k-header:first-child {
    border-bottom-color: #FBFCFF;
    background-color: #FBFCFF;
}*/

.k-header:last-child {
    background-color: #FBFCFF;
}

.k-widget {
    background-color: #FBFCFF;
    border-color: #FBFCFF;
}

tbody tr td:first-child,
tbody tr td:nth-child(2) {
    border-left: none;
    background-color: #FBFCFF;
}

tbody tr td:not(:first-child):not(:nth-child(2)) {
    border-bottom: 1px solid #E2E2E3;
}

tbody tr td:last-child {
    border-right: 1px solid #E2E2E3;
}

.k-grid-header .k-header:first-child,
.k-grid tbody td:first-child,
.k-grid tfoot td:first-child {
    border-left-width: 0px;
}

.k-header {
    background-color: #FBFCFF;
    border-left-color: #FBFCFF;
}

.k-pager-wrap {
    margin-top: 1vw;
}

.k-grid-top {
    background-color: #FCFBFF;
    border: none;
}


/*td .k-grid-Module {
    background-image: url('../../../../Images/access1.png');
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    background-size: 15px 15px;
    background-color: #FBFCFF;
    background-position: center;
}

    td .k-grid-Module:hover {
        background-image: url('../../../../Images/accessActive1.png');
        background-repeat: no-repeat;
        color: transparent;
        border: none;
        background-size: 15px 15px;
        background-color: #FBFCFF;
        background-position: center;
    }


.k-state-selected .k-grid-Module:hover {
    background-image: url('../../../../Images/accessActive1.png');
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    background-size: 15px 15px;*/


/* background-color: #01579b;*/


/*background-position: center;
}*/

a.k-button.k-button-icontext.k-grid-Module {
    background-color: #FCFBFF;
    background-image: url("../../../../Images/access1.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

a.k-button.k-button-icontext.k-grid-Module:hover {
    background-color: #FCFBFF;
    background-image: url("../../../../Images/accessActive2.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
    margin: 0;
}

k-state-selected a.k-button.k-button-icontext.k-grid-Module {
    background-color: #FCFBFF;
    background-image: url("../../../../Images/access1.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Module:hover {
    background-color: #FCFBFF;
    background-image: url("../../../../Images/accessActive2.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

a.k-button.k-button-icontext.k-grid-Module:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Module:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

a.k-button.k-button-icontext.k-grid-Xóa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

a.k-button.k-button-icontext.k-grid-Xóa:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel-Active2.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

k-state-selected a.k-button.k-button-icontext.k-grid-Xóa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Xóa:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel-Active2.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

a.k-button.k-button-icontext.k-grid-Xóa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Xóa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

a.k-button.k-button-icontext.k-grid-Mậtkhẩu {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

a.k-button.k-button-icontext.k-grid-Mậtkhẩu:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

a.k-button.k-button-icontext.k-grid-Mậtkhẩu:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/duplicate.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    /*background-size: 22%;*/
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/duplicate-active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    /*background-size: 22%;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

k-state-selected a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/duplicate.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    /*background-size: 22%;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/duplicate-active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    /*background-size: 22%;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Thêmkhoảnmục:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

a.k-button.k-button-icontext.k-grid-Sửa,
a.k-button.k-button-icontext.k-grid-Edit {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-change.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    margin: auto;
    padding: 6px;
}

a.k-button.k-button-icontext.k-grid-Sửa:hover,
a.k-button.k-button-icontext.k-grid-Edit:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-changeActive.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    padding: 6px;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Sửa,
.k-state-selected a.k-button.k-button-icontext.k-grid-Edit {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-change.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    margin: auto;
    padding: 6px;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Sửa:hover,
.k-state-selected a.k-button.k-button-icontext.k-grid-Edit:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-changeActive.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    padding: 6px;
}

a.k-button.k-button-icontext.k-grid-Sửa:active,
a.k-button.k-button-icontext.k-grid-Edit:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
    padding: 6px;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Sửa:active,
.k-state-selected a.k-button.k-button-icontext.k-grid-Edit:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
    padding: 6px;
}

a.k-button.k-button-icontext.k-grid-Show {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/show.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

    a.k-button.k-button-icontext.k-grid-Show:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/show-Active.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
        background-size: 22%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

k-state-selected a.k-button.k-button-icontext.k-grid-Show {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/show.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Show:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/show-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a.k-button.k-button-icontext.k-grid-Show:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Show:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}


/*jslkjdshj*/

a.k-button.k-button-icontext.k-grid-Gửi {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/send.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

    a.k-button.k-button-icontext.k-grid-Gửi:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/send.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
        background-size: 22%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

k-state-selected a.k-button.k-button-icontext.k-grid-Gửi {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/send.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Gửi:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/send.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 22%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a.k-button.k-button-icontext.k-grid-Gửi:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Gửi:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

span.k-state-selected {
    border-color: #FCFBFF;
}

.k-pager-numbers .k-state-selected {
    padding: 0 8px;
    line-height: 20px;
}

.row-quanlyxe {
    margin-bottom: 1.5vw;
    position: relative;
    justify-content: space-between;
}

.add-car {
    cursor: pointer;
    background-color: #FAA519;
    color: white;
    border-radius: 18.5px;
}

.button-add-partner {
    padding: 0.55vw 1vw 0.55vw 3vw;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .button-add-partner {
        padding: 2vw 5vw;
    }
}

.row-plan-drive {
    display: flex;
    padding: 0;
}

.row-plan-drive:first-child {
    margin-left: 1.5vw;
}

.btn-plan-drive img {
    width: fit-content;
    height: fit-content;
    margin-right: 0.3vw;
    margin-right: 0.4vw;
    margin-top: 2px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .btn-plan-drive img {
        margin-right: 0;
    }
}

    @media only screen and (max-width: 576px) {
        .button-add-partner {
            padding: 0vw 7vw;
        }

        .btn-plan-drive img {
            margin-right: 0vw;
        }

        .row-quanlyxe {
            justify-content: space-evenly;
        }
    }

    .actions > li > a {
        height: auto;
        padding-right: 12px;
        background-color: #FAA519 !important;
        border-radius: 10px;
        margin-bottom: 1vw;
    }

    @media only screen and (max-width: 1500px) and (min-width: 992px) {
        .actions > li > a {
            width: 7vw;
            height: auto;
            padding-right: 12px;
            background-color: #FAA519 !important;
        }
    }

    @media only screen and (max-width: 992px) {
        .actions > li > a {
            height: auto;
            padding-right: 12px;
            background-color: #FAA519 !important;
        }
    }

    .k-button:hover {
        background-color: #FAA519;
        border-color: #FAA519;
        text-decoration: none;
    }

    .k-button:focus {
        border-color: none !important;
        text-decoration: none;
    }

    .k-window-titlebar {
        height: 33px;
        line-height: 25px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1024px) {
        .k-window-titlebar {
            height: 3vh;
            line-height: 25px;
        }

        .form-change-car input {
            margin-bottom: 6vw;
        }
    }

    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
        .k-window-titlebar {
            height: 40px;
            line-height: 25px;
        }
    }

    @media only screen and (max-width: 992px) {
        .content {
            overflow: scroll;
        }
    }

    .btn.btn-primary {
        background: #FAA519 !important;
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle {
        background-color: #FAA519 !important;
        border-color: #FAA519 !important;
        text-decoration: none !important;
    }

    .k-widget.k-window {
        height: fit-content;
    }

    .k-filter-menu .k-popup .k-group .k-reset .k-state-border-up > div > .k-widget .k-dropdown .k-header {
        width: auto;
    }

    .k-window-titlebar .k-window-action {
        padding: 0px;
    }

    .k-state-hover:hover {
        background-position: 0px 0px;
    }

    .checked_all {
        display: flex;
        margin: auto;
    }

    .k-block,
    .k-widget,
    .k-inline-block,
    .k-textbox > input,
    .k-input[type="text"],
    .k-input[type="number"],
    .k-picker-wrap .k-input,
    .k-button,
    .k-draghandle {
        border-width: 0px !important;
    }

    .k-dropdown-wrap .k-state-default .k-state-hover .k-state-focused .k-state-active .k-state-border-down {
        background-color: white !important;
        color: black !important;
    }

    .pull-right .actions {
        float: right;
        list-style: none;
        margin: 0% 5.5%;
    }

    .logout :hover {
        color: red;
    }

    div.k-window {
        top: 48% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }


    /*.k-grid-header tr th:nth-child(2) {
border-bottom: none;
}*/


    /*#grid .k-selectable tbody tr td:nth-child(2) {
    border-bottom: none !important;
    border-left: none !important;
}*/

    .k-grid td {
        border-width: 0 0 0px 1px;
    }

div.k-grid-header .k-header {
    border-bottom-width: 1px;
    font-weight: 600;
}

.k-window-title {
    text-align: center;
    font-weight: 600;
}

    .k-grid-header .k-header:nth-child(-n+2) {
        border-bottom: 0;
    }

    input:-internal-autofill-selected {
        background-color: white !important;
    }
.k-link:not(.k-state-disabled):hover > .k-i-calendar,
.k-state-hover .k-i-calendar,
.k-button:hover .k-i-calendar,
.k-textbox:hover .k-i-calendar,
.k-button:active .k-i-calendar {
    background-position: -32px -176px;
}

.k-link:not(.k-state-disabled):hover > .k-i-clock,
.k-state-hover .k-i-clock,
.k-button:hover .k-i-clock,
.k-textbox:hover .k-i-clock,
.k-button:active .k-i-clock {
    background-position: -32px -191px;
}

.k-select .k-icon .k-i-clock {
    background-position: -32px -191px !important;
}

.unsend-to-customer {
    display: none;
}

.k-calendar .k-state-selected.k-state-focused > .k-link {
    background-color: #FAA519;
}

a.k-button.k-button-icontext.k-grid-Hạtin, a.k-button.k-button-icontext.k-grid-Xuấtbảnlại {
    background-color: #FAA519;
    color: white;
    border-radius: 5px;
}

    a.k-button.k-button-icontext.k-grid-Hạtin:hover, a.k-button.k-button-icontext.k-grid-Xuấtbảnlại:hover {
        background-color: #FAA519;
        color: white;
        border-radius: 5px;
    }

k-state-selected a.k-button.k-button-icontext.k-grid-Hạtin, k-state-selected a.k-button.k-button-icontext.k-grid-Xuấtbảnlại {
    background-color: #FAA519;
    color: white;
    border-radius: 5px;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Hạtin:hover, .k-state-selected a.k-button.k-button-icontext.k-grid-Xuấtbảnlại:hover {
    background-color: #FAA519;
    color: white;
    border-radius: 5px;
}

a.k-button.k-button-icontext.k-grid-Hạtin:active, a.k-button.k-button-icontext.k-grid-Xuấtbảnlại:active {
    background-color: #FAA519;
    color: white;
    border-radius: 5px;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Hạtin:active, .k-state-selected a.k-button.k-button-icontext.k-grid-Xuấtbảnlại:active {
    background-color: #FAA519;
    color: white;
    border-radius: 5px;
}